@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Tinos:ital,wght@0,400;0,700;1,400&family=Ubuntu&display=swap');

@font-face {
	font-family: "BenguiatGothicC";
	src: url("../fonts/BenguiatGothicC-Book.woff2") format("woff2"), url("../fonts/BenguiatGothicC-Book.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
   font-family: "BenguiatGothicC";
   src: url("../fonts/BenguiatGothicC-Bold.woff2") format("woff2"), url("../fonts/BenguiatGothicC-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "BenguiatGothicC";
   src: url("../fonts/BenguiatGothicC-BookItalic.woff2") format("woff2"), url("../fonts/BenguiatGothicC-BookItalic.woff") format("woff");
   font-weight: 400;
   font-style: italic;
   font-display: swap;
}

.block_1 {
   margin: 91px auto 109px auto;
   max-width: 810px;
   font-family: "Lato", sans-serif;
}

h1 {
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
   color: #1E212C;
   margin-bottom: 40px;
}

h1 + img {
   max-width: 810px;
   max-height: 360px;
   border-radius: 4px;
   margin-bottom: 60px;
}

p.intro,
p.usual-text,
.block_1 ul {
   margin-bottom: 24px;
}

p.intro,
p.quote {
   color: #1E212C;
   font-weight: 700;
   font-size: 20px;
   line-height: 30px;
}

p.usual-text,
.block_1 ul {
   color: #424551;
}

p.usual-text {
   font-size: 16px;
   line-height: 26px;
}

p.quote {
   margin: 48px 0;
   padding-left: 30px;
   line-height: 30px;
}

.block_1 ul {
   font-size: 16px;
   line-height: 160%;
}

li {
   margin-bottom: 4px;
   padding-left: 16px; 
   list-style: inside;
}

hr {
   border-style: inset;
   border-width: 1px;
}

.block_2{
   font-family: "BenguiatGothicC";
   margin-top: 50px;
}

.block_2 > h2 {
   font-weight: 700;
   font-size: 50px;
   background-color: azure;
   text-align: center;
   text-decoration: overline;
   margin-bottom: 50px;
}

h2 ~ p,
p ~ div {
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   margin-bottom: 30px;
   letter-spacing: 3px;
}

.news_1 {
   border: 8px solid darkcyan;
   padding: 10px;
   background-color: lightseagreen;
   height: 100px;
   width: 600px;
   margin: 0 auto 80px auto;
   overflow: auto;
   border-radius: 17%;
   outline: 2px dotted mediumaquamarine;
}

.about_news_2 {
   border: 3px dotted firebrick;
   padding: 20px;
   min-width: 19px;
   min-height: 90px;
   overflow: auto;
   margin-bottom: 170px;
}

.news_2 {
   margin-bottom: 20px;
}

.news_list {
   list-style-type: decimal;
}

.news_3 {
   border: 12px dashed hotpink;
   padding: 80px;
   outline: 5px solid pink;
   margin: 0 0 150px 450px;
}

.news_4 {
   border: 20px double lightsteelblue;
   padding: 16px;
   max-height: 90px;
   max-width: 900px;
   overflow: scroll;
   margin-left: 79px;
   margin-bottom: 70px;
}   

.news_5 {
   margin-left: 17px;
   background-color: sandybrown;
   width: 200px;
   text-align: right;
   box-shadow: 7px 13px khaki;
   overflow: hidden;
   visibility: hidden;
}
   
.news_quote {
   font-family: "BenguiatGothicC";
   font-style: italic;
   letter-spacing: 1px;
}

.change {
   font-weight: 700;
   display: inline-block;
   margin: 0 10px;
}